
* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'MyMixFont';
    src: url("../fonts/LibreBodoni-VariableFont_wght.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-007E;
}
@font-face {
    font-family: 'MyMixFont';
    src: url("../fonts/KoPubWorld Batang Bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    position: relative;
    visibility: hidden;
    transition: background-color 1s ease-in-out;
    list-style: none;
}

.container {
    flex-shrink: 0;
    aspect-ratio: 9/16;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    transform-origin: top left;
    position: absolute;
    transform: scale(0);
    font-family: 'MyMixFont';
    transition: background-color 1s ease-in-out;
    width: 720px;
    height: 1280px;
}

main {
    position: absolute;
    width: 720px;
    height: 1280px;
    flex-shrink: 0;
    aspect-ratio: 9/16;
    overflow-y: auto;
    top: 0px;
    left: 0px;
}
main::-webkit-scrollbar {
    width: 0;
    height: 0;
}


.main_back1 {
    width: 720px;
    height: 1280px;
    flex-shrink: 0;
    aspect-ratio: 9/16;
    background: url("../images/background.png") no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
}


.btn_login {
    position: absolute;
    top: 226px;
    left: 238px;
    width: 244px;
    height: 461px;
    background: url("../images/door.png") no-repeat center center;
    background-size: cover;
}

.btn_gallery {
    position: absolute;
    top: 807px;
    left: 47px;
    width: 163px;
    height: 229px;
    background: url("../images/mirror.png") no-repeat center center;
    background-size: cover;
}

.btn_profile {
    position: absolute;
    top: 807px;
    left: 280px;
    width: 160px;
    height: 229px;
    background: url("../images/rabbit.png") no-repeat center center;
    background-size: cover;
}

.btn_guest_book {
    position: absolute;
    top: 887px;
    left: 510px;
    width: 168px;
    height: 70px;
    background: url("../images/book.png") no-repeat center center;
    background-size: cover;
}


.gallery-container > h2 {
    font-family: 'MyMixFont';
    position: absolute;
    top: 71px;
    left: 255px;
    font-size: 64px;
    color: white;
    font-weight: 500;
    margin: 0;
}

.gallery_bar {
    position: absolute;
    top: 180px;
    left: 73px;
    width: 580px;
    height: 6px;
    background-color: white;
    margin-bottom: 53px;
}


.gallery-grid {
    position: absolute;
    top: 223px;
    left: 70px;
    width: 580px;
    height: 800px;
    display: grid;
    grid-template-columns: 250px 250px;
    justify-content: space-between;
    row-gap: 120px;
}

.gallery-item {
    text-decoration: none;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.item-thumbnail {
    width: 250px;
    height: 250px;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    border: white 4px solid;
    background-repeat: no-repeat;
}

.gallery-item h3 {
    text-align: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 24px;
    color: #A10000;
    font-weight: bold;
    padding: 0;
}


.view-container h1 {
    text-align: center;
    width: 100%;
    margin-top: 152px;
    margin-bottom: 138px;
    font-size: 64px;
    color: #A10000;
    font-weight: bold;
    padding: 0;
}

.post-meta {
    text-align: right;
    margin-bottom: 15px;
    color: white;
}

.post-content {
    line-height: 1.8;
    max-width: 540px;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;      
    text-align: left;    
    color: white;        
}

.post-content img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.post-actions {
    text-align: center;
    margin-top: 40px;
}


.btn-action, .btn-back-to-list, button, .cancel_btn {
    padding: 10px 20px;
    color: white;
    background-color: black;
    border: 2px white solid;
    font-size: 16px;
    border-radius: 10px;
    margin: 50px 20px 40px 0px;
    font-family: 'MyMixFont';
    cursor: pointer;
}

.btn-action.delete-btn, .cancel_btn  {
    background-color: white;
    color: black;
}

.add-btn{
    position: absolute;
    top: 105px;
    right: 71px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 2px white solid;
    font-size: 16px;
    border-radius: 10px;
    font-family: 'MyMixFont';
    text-decoration: none;
    cursor: pointer;
}



.form-page-container {
    position: absolute;  
    top: 140px;          
    left: 70px;          
    width: 580px;        
    height: 1000px;       
    overflow-y: auto;    
    color: white;        
}

.form-page-container::-webkit-scrollbar {
    width: 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;     
    font-weight: bold;
}


.form-group input[type="text"],
.form-group input[type="password"],
.form-group textarea {   
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    font-family: 'MyMixFont';
    font-size: 16px;
    border: 3px solid #000000;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    color: #333;
}



.login-form, .password_content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 100;
}

.login-form > form {
    display: flex;
    gap: 26px;
    flex-direction: column;
    align-items: center;
}

.login-form > form > input,
.password_content > form > input {
    color: #000000;
    width: 399px;
    height: 90px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 3px solid #000000;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-top: 20px;
    font-family: 'MyMixFont';
    font-size: 24px;
}

.login-form > form > button,
.password_content > form > button {
    color: #000000;
    width: 252px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 3px solid #000000;
    background: rgba(255, 255, 255, 0.8);
    margin-top: 13px;
    font-family: 'MyMixFont';
    font-size: 24px;
    cursor: pointer;
    font-weight: bold;
}


.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.login-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.login-form > form {
    display: flex;
    gap: 26px;
    flex-direction: column;
    align-items: center;
}
.login-form > form > input{
    color: #000000;
    width: 399px;
    height: 90px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 3px solid #000000;
    background: rgba(255, 255, 255, 0.30);
    text-align: center;
    margin-top: 20px;
}
.login-form > form > button,
.password_content > form > button {
    color: #000000;
    width: 252px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 3px solid #000000;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 13px;
}

.file-upload-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: white;
    color: black;
    font-size: 12px;
    border: black 2px solid;
    border-radius: 10px;
    text-decoration-line: none;
    cursor: pointer;
}


.note-editor.note-frame {
    border: 2px solid #ffffff !important;
    background-color: transparent !important;
    box-shadow: none !important;
}


.note-toolbar {
    background-color: transparent !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}


.note-editing-area, 
.note-editable {
    background-color: transparent !important;
    color: black !important;
}


.note-statusbar {
    background-color: transparent !important;
}


.note-btn {
    background-color: rgba(255, 255, 255, 0.5) !important;
    border: 1px solid #ffffff !important;
}

.modal-backdrop,
.note-modal-backdrop {
    z-index: -1 !important;
}



.house_link{
    color: white;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    cursor: pointer;
    z-index: 10000;
    text-decoration: none;
}


.gallery-item, 
.gallery-item:hover, 
.gallery-item:visited, 
.gallery-item:active {
    text-decoration: none !important;
    color: inherit;                
}


.note-modal-content, 
.modal-content {
    background-color: rgba(255, 255, 255, 0.9) !important;
    border: 3px solid #000000 !important;
    border-radius: 15px !important;
    color: #000000 !important;
    box-shadow: none !important;
}


.note-modal-header, 
.modal-header {
    border-bottom: 2px solid #000000 !important;
    color: #000000 !important;
}
.note-modal-title, 
.modal-title {
    color: #000000 !important;
    font-weight: bold;
    font-family: 'MyMixFont';
}


.close, .note-modal-close {
    color: #000000 !important;
    opacity: 1 !important;
}


.note-modal-body input[type="text"],
.note-modal-body input[type="file"],
.modal-body input {
    color: #000000 !important;     
    border: 2px solid #000000 !important;
    background-color: transparent !important;
    padding: 10px !important;
    border-radius: 5px !important;
}


.note-form-label {
    color: #000000 !important;
    font-weight: bold;
}


.note-btn-primary, 
.btn-primary {
    background-color: #000000 !important;
    border: 1px solid #000000 !important;
    color: #ffffff !important;
}
.note-btn-primary:hover, 
.btn-primary:hover {
    background-color: #333333 !important;
}


.note-checkbox, .checkbox {
    color: #000000 !important;
}



.note-toolbar {
    padding: 5px !important;
    display: flex !important;   
    flex-wrap: wrap !important; 
    align-items: center !important;
}


.note-btn-group, .btn-group {
    margin-right: 8px !important; 
    margin-bottom: 5px !important;
    margin-top: 0 !important;     
}


.note-btn {
    margin: 0 !important;          
    padding: 6px 12px !important;  
    height: 35px !important;       
    line-height: 1.2 !important;   
}


.note-current-fontsize, .note-current-fontname {
    line-height: 1.2 !important;
}






.guestbook-container {
    width: 100%;
    max-width: 580px;
    margin: 100px auto 50px;
    padding: 20px;
    color: #fff;
    font-family: 'MyMixFont', sans-serif;
}

.guestbook-title {
    font-family: 'MyMixFont';
    position: absolute;
    top: 71px;
    left: 191px;
    font-size: 64px;
    color: white;
    font-weight: 500;
    margin: 0;
}

.guestbook-bar{
    position: absolute;
    top: 180px;
    left: 73px;
    width: 580px;
    height: 6px;
    background-color: white;
    margin-bottom: 53px;
}


.write-form {
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 50px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.write-form input[type="text"] {
    width: 100%;
    max-width: 500px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    font-family: inherit;
}

.write-form textarea {
    width: 100%;
    max-width: 500px;
    height: 80px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    resize: none;
    outline: none;
    font-family: inherit;
}

.submit-btn {
    background: #fff;
    color: black;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 5px;
}


.guestbook-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.guestbook-item {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #444;
    position: relative;
   
    user-select: none; 
    -webkit-user-select: none;
    transition: background-color 0.2s;
}


.gb-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 14px;
    color: #aaa;
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
}

.gb-name {
    font-weight: bold;
    color: #fff;
    font-size: 16px;
}

.gb-content {
    font-size: 16px;
    line-height: 1.6;
    white-space: pre-wrap;
}